div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* Align text horizontally and vertically */
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div.x {
    color:  rgb(147, 255, 38);
}

div.o {
    color: rgb(253, 151, 139);
}

div.no-margin {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.timer-base {
    width: 100%;
    position: relative;
}

.timer-bar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.progress-custom {
    height: 40px;
    background-color: lightgray"
}

h4.player_turn {
    margin-top: 1.2rem;
}